* { 
	box-sizing: border-box;
} 

body { 
	margin: 0; 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
	font-size: 1rem; 
	font-weight: 400; 
	line-height: 1.5; 
	color: #212529; 
	text-align: left; 
	background-color: #fff;
} 

html { 
	font-family: sans-serif; 
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
	-webkit-tap-highlight-color: transparent;
} 

nav { 
	display: block;
} 

.navbar { 
	position: relative; 
	display: -ms-flexbox; 
	display: flex; 
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap; 
	-ms-flex-align: center; 
	align-items: center; 
	-ms-flex-pack: justify; 
	justify-content: space-between; 
	padding: .5rem 1rem;
} 

.navbar-expand { 
	-ms-flex-flow: row nowrap; 
	flex-flow: row nowrap; 
	-ms-flex-pack: start; 
	justify-content: flex-start;
} 

.bg-light { 
	background-color: #f8f9fa!important;
} 

*,:after,:before { 
	box-sizing: border-box;
} 

a { 
	color: #007bff; 
	text-decoration: none; 
	background-color: transparent;
} 

.navbar-brand { 
	display: inline-block; 
	padding-top: .3125rem; 
	padding-bottom: .3125rem; 
	margin-right: 1rem; 
	font-size: 1.25rem; 
	line-height: inherit; 
	white-space: nowrap;
} 

.navbar-light .navbar-brand  { 
	color: rgba(0,0,0,.9);
} 

a:hover { 
	color: #0056b3; 
	text-decoration: underline;
} 

.navbar-brand:hover { 
	text-decoration: none;
} 

.navbar-light .navbar-brand:hover { 
	color: rgba(0,0,0,.9);
} 

.navbar-collapse { 
	-ms-flex-preferred-size: 100%; 
	flex-basis: 100%; 
	-ms-flex-positive: 1; 
	flex-grow: 1; 
	-ms-flex-align: center; 
	align-items: center;
} 

.collapse:not(.show) { 
	display: none;
} 

.navbar-expand .navbar-collapse  { 
	display: -ms-flexbox!important; 
	display: flex!important; 
	-ms-flex-preferred-size: auto; 
	flex-basis: auto;
} 

ul { 
	margin-top: 0; 
	margin-bottom: 1rem;
} 

.navbar-nav { 
	display: -ms-flexbox; 
	display: flex; 
	-ms-flex-direction: column; 
	flex-direction: column; 
	padding-left: 0; 
	margin-bottom: 0; 
	list-style: none;
} 

.mr-auto { 
	margin-right: auto!important;
} 

.navbar-expand .navbar-nav  { 
	-ms-flex-direction: row; 
	flex-direction: row;
} 

.nav-link { 
	display: block; 
	padding: .5rem 1rem;
}
.navbar-nav .nav-link  { 
	padding-right: 0; 
	padding-left: 0;
}
.navbar-expand .navbar-nav .nav-link  { 
	padding-right: .5rem; 
	padding-left: .5rem;
} 

.navbar-light .navbar-nav .nav-link  { 
	color: rgba(0,0,0,.5);
} 

.navbar-light .navbar-nav .active > .nav-link { 
	color: rgba(0,0,0,.9);
} 

.nav-link:hover { 
	text-decoration: none;
} 

.navbar-light .navbar-nav .nav-link:hover { 
	color: rgba(0,0,0,.7);
} 

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link { 
	color: rgba(0,0,0,.9);
} 

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { 
	color: rgba(0,0,0,.7);
} 


