.dropZone {
	/* min-width: 300px; */
	/* min-height: 300px; */
	border: 2px dashed #ccc;
	text-align: center;
	/* line-height: 300px; */
	/* font-size: 16px; */
	color: #999;
	/* margin: 20px auto; */
	display: inline-block;
}
/* .dropZone img {
	max-width: 100%;
	max-height: 100%;
} */
.section {
	border-radius: 10px;
	border: 2px silver solid;
	background: #f0f0f080;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	/* transition: all 0.5s ease-in-out; */
}
.section:empty {
	padding: 0;
	margin: 0;
	border: none;
}
.input {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
	margin-bottom: 10px;
}


/* #region datalist */
.datalist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.datalist option {
	font-size: 14px;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}

.datalist option:last-child {
	border-bottom: none;
}
/* #endregion datalist */

/* #region resizing */
.previewContainer {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 300px;
	/* width: 100%; */
	/* overflow: hidden; */
}
.previewImage {
	position: absolute;
	border: 2px solid #ccc;
}
.resize-handle {
	width: 30px;
	height: 30px;
	background-color: #007bff;
	position: absolute;
}
.resize-handle.top-left {
	top: -5px;
	left: -5px;
	cursor: nwse-resize;
}
.resize-handle.bottom-right {
	bottom: -5px;
	right: -5px;
	cursor: nwse-resize;
}
/* #endregion resizing */

/* #region cropping */
.crop-box {
	border: 2px dashed red;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff11;
	box-sizing: border-box;
	/* pointer-events: none; */


}

/* #endregion cropping */

